.App {
  text-align: center;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  font-size: medium;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.redlining-properties {  
  font-size: 15px;
  color: black;
  margin: auto;
  display: block;
}

.web-container {
  height: 100%;
  width: 100%;
}
