.welcome-popup {
    /* position: absolute;
    margin: 0 auto; */
    position:absolute;
    top:30%;
    left:68%;
    /* transform:translate(-50%,-50%); */
    width: 470px;
    height: 274px;
    background: linear-gradient(180deg, #6DCCF5 0%, #A65AB9 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 39px;
}

.welcome-text {
    color: white;
    padding-top: 25px;
    font-style: medium;
    font-weight: 400;
    font-size: 53px;
    line-height: 60px;
    text-align: center;
}

.harmony-text {
    color: white;
    padding-bottom: 15px;
    font-style: medium;
    font-weight: 700;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
}

.spotify-login-button {
    width: 370px;
    height: 60px;
    background: #71C7F2;
    border-radius: 39px;
    border-color: #6DCCF5;

    color: white;
    font-style: bold;
    font-weight: 700;
    font-size: 27px;
    text-align: center;
}