.playlist-popup {
    position: absolute;
    width: 500px;
    height: 550px;
    top: 10%;
    left: 17%;
    
    background: linear-gradient(180deg, #71C7F2 0%, #9E6BC3 100%);
    border-radius: 53px;
}

.playlist-header {
    flex-direction: column;
}

.close-button {
    position:absolute; 
    top:25px;; 
    right:30px;
    border:none;
    width: 25px;
    height: 25px;   
    background: #FFFFFF;
    border-radius: 9px;
}

.playlist-icon {
    display: grid;
    position: absolute;
    /* border-radius: 40px; */
    width: 120px;
    height: 120px;
    left: 30px;
    top: 30px;
    grid-template-columns: 60px 60px;
    grid-template-rows: auto auto;
}

.song-info {
    position: inherit;
    margin-top: 13px;
    margin-left:60px;
    margin-right:20px;
    flex-direction: row;
    font-family: 'Montserrat';
    font-style: normal;
    min-width: fit-content;
}

.add-playlist-button {
    right: 30px;
    position: absolute;
    border: none;
    width: 130px;
    height: 60px;
    background: #71C7F2;
    border-radius: 39px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.playlist-popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}