.playlist-popup {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 10%;
    left: 17%;
    
    background: linear-gradient(180deg, #71C7F2 0%, #9E6BC3 100%);
    border-radius: 53px;
}

.playlist-header {
    flex-direction: column;
}

.close-button {
    position:absolute; 
    top:25px;; 
    right:30px;
    border:none;
    width: 25px;
    height: 25px;   
    background: #FFFFFF;
    border-radius: 9px;
}

.playlist-icon {
    display: grid;
    position: absolute;
    width: 140px;
    height: 140px;
    left: 30px;
    top: 30px;
    grid-template-columns: 70px 70px;
    grid-template-rows: auto auto;
}

.playlist-title {
    position: absolute;
}

.title-location {
    padding-top: 50px;
    padding-left: 210px;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 43px;
    margin-bottom: 0;

    color: #FFFFFF;
}

.title-time {
    margin-top: 0;
    text-align: left;
    padding-left: 210px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 43px;

    color: #FFFFFF;
}

.songs-list {
    text-align:left;
    padding-left: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;

    color: #FFFFFF;
}

.add-playlist-button {
    right: 30px;
    position: absolute;
    border: none;
    width: 130px;
    height: 60px;
    background: #71C7F2;
    border-radius: 39px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.playlist-popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}