.App {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* .App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
} */

.web-container {
  height: 100%;
  width: 100%;
}